#myCanvas {
	//width : 1100;
	//length : width/2;
    background-color: #222222;
    border-collapse: collapse;
    //border-radius: 20px;
    border-style: solid;
    border-color:green;
}

body {
    background-color: #444444;
}
